.repository-card {
    background: linear-gradient(to right, #131930, #1c1a42);
    padding: 20px;
    margin: 15px 0;
    width: 50%;
    border-radius: 5px;

    h4, p {
        margin-bottom: 10px;
    }

    h4 {
        color: #fff;
    }

    p, span {
        color: rgba(255, 255, 255, 0.5);
    }

    span {
        display: inline-block;
        margin-right: 10px;
    }
}